@font-face {
font-family:"joli";
src: url('police/Fipps.otf');
}

@font-face {
font-family: "bla";
src: url('police/MCSS.TTF');
}

body{
	background-color: #DDCFC4;
}

html{
display: inline-block;
font-family: Oldtown;
}

h1 {
font-family: bla;
}

h2 {
display: block;
color:#2B2F2F;
background-color: #A2C3BE;
text-align:center;
border-radius: 10px; 
border: 5px grey groove;
font-family:joli;
}

h3 {
font-family: bla;
text-align:center;
}

section {
background-color: #697F7C;
border-radius: 10px;
display:inline-block;
vertical-align: top;
border: 5px grey groove;
}

nav {
background-color : #B5A192;
border-radius: 10px; 
border: 5px grey groove;
margin : 20px;
font-family: Arial;
font-size: 0.8em;
}

li {
text-align: center;
display: inline;
margin-left: 10%;
margin-right: 10%;
}

#li1{
color: #628480;
}

#li2{
color : #A4A4A4;
}

a {
text-decoration: none;
color: black;
}

a:hover{
color:grey;
}

#section1 {
width: 99%;
}

#section2 {
width: 300px;
margin: 20px;
padding : 20px;
font-family: Arial;
font-size: 0.7em;
}

img {
width : 100%;
height : 100%;
}

#baniere {
width: 100%;
height: 15em;
}

#PE {
text-align:center;
}

#PE img {
width:350px;
height:350px;
}

div {
padding-left:20px;
}

div.article{
float: left;
text-align: center;
margin : 10%;
margin-top: 5%;
}

div.article1{
	display: inline-block;
	text-align: center;
	margin: 3%;
	float: left;
	padding-top: 2em;
}
div.annonce{
	display: inline-block;
	border: 5px grey ridge;
	float: left;
	width: 20%;
}

div.ajout{
	text-align: center;
	border: 5px grey ridge;
	margin-left: auto;
	margin-right: auto;
	position: static;
}

div.gestion{
	display: inline-block;
	text-align: center;
	border: 5px grey ridge;
	width: 25%;
	float:left;
	box-sizing:border-box;
}

div.im{
	float: left;
	width: 25%;
}

div.carac{
	text-align: center;
	border: 5px grey ridge;
	width: 45%;
	float: left;
}

p{
	text-align: center;
}

p.titre{
	text-align: center;
	float: left;
}

p.tann{
	text-align: justify;
}

div.contact{
	text-align: center;
	border: 5px grey ridge;
	width: 45%;
	float: left;
	box-sizing : border-box;
	width: 100%;
}
@media screen and (min-width:200px) and (max-width:640px){
.bloc {
	display:block;
	clear:both;
	}
}

